@font-face {
    font-family: poppins_thin;
    src: url('Poppins-Thin.ttf');
}

@font-face {
    font-family: poppins;
    src: url('Poppins-Regular.ttf');
}

@font-face {
    font-family: poppins_bold;
    src: url('Poppins-Bold.ttf');
}

@font-face {
    font-family: poppins_semi;
    src: url('Poppins-SemiBold.ttf');
}

body {
    background-color: #0081a1;
    align-items: center;
    align-content: center;
    justify-self: center;
    justify-content: center;
    position: absolute;

}

.head {
    display: flex;
}

.head #img {
    width: 60px;
    height: 60px;
    margin-top: 30px;
    margin-left: 30px;
}

.head #moanne {
    color: white;
    font-weight: normal;
    font-family: poppins_bold, sans-serif;
    width: auto;
    height: auto;
    margin-left: 10px;
    margin-top: 30px;
}