@font-face {
    font-family: poppins;
    src: url('Poppins-Thin.ttf');
}

@font-face {
    font-family: poppins_bold;
    src: url('Poppins-Bold.ttf');
}

body {
    background-color: #222;
    align-items: center;
    align-content: center;
    justify-self: center;
    justify-content: center;
    position: absolute;

}

.head .img {
    background-image: url('black-ic.png');
    width: 40px;
    height: 40px;
}

.head #search {
    font-family: poppins, sans-serif;
    color: #ddd;
    font-size: 25px;
}