@font-face {
    font-family: poppins;
    src: url('Poppins-Thin.ttf');
}

@font-face {
    font-family: poppins_bold;
    src: url('Poppins-Bold.ttf');
}

body {
    background-color: white;
    align-items: center;
    justify-self: center;
    justify-content: center;
    position: absolute;

}

.head .img {
    background-image: url('black-ic.png');
    width: 5vh;
    height: 5vh;
}

.head #txt {
    font-family: poppins_bold;
    color: black;
    font-size: 5vh;
}

.head #text {
    font-family: poppins;
    color: black;
    font-size: 5vh;
}