@font-face {
    font-family: poppins;
    src: url('/web/Poppins-Thin.ttf');
}

@font-face {
    font-family: poppins_extrabold;
    src: url('/web/Poppins-ExtraBold.ttf');
}

body {
    background-color: #111;
}

.head {
    position: relative;
    display: flex;
    left: 30px;
    top: 30px;
}

#img {
    width: 120px;
    height: 120px;
}

#txt {
    font-family: poppins_extrabold;
    font-weight: normal;
    color: white;
    font-size: 60px;
    transform: translateY(-20px);
}
