@font-face {
    font-family: poppins;
    src: url('Poppins-Thin.ttf');
}

@font-face {
    font-family: poppins_bold;
    src: url('Poppins-Bold.ttf');
}

body {
    background-color: #111;
}

.head {
    position: relative;
    display: flex;
    left: 30px;
    top: 30px;
}

#img {
    width: 150px;
    height: 150px;
}
